@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --primary-color: #874629;
    --secondary-color: #c69b2a;
    --Grey: #d4c389;
    --white: #fff;
}

html, body {
    margin: 0;
}
body {
    background-color: var(--Grey);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1400px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
    
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    /* background-color: aqua; */
    padding: 10px 20px 0px;
    color: white;
    font-weight: 700;
    color: var(--Grey);
}

.navbar ul li a{
    color: var(--white);
    font-size: 30px;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li a:hover {
    border-bottom: 2px solid var(--secondary-color);
}


.menu {
    background: url(./image/banner3.jpg);
    
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    background: url(./image/banner5.png) ;
    
}

.header img {
    width: 86px;
    margin-top: 2rem;
    border-radius: 8px;

}

.header.about {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    background: url(./image/banner6.png);
    
}
.header.contact {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    background: url(./image/banner8.png);
    
}

h1 {
    text-align: center;
    font-size: 80px;
    color: var(--secondary-color);
    font-family: 'Pacifico', cursive;
    margin-top: -160px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content p {
    margin: 60px auto;
}

.video{
    text-align: center;
    background: var(--primary-color);
   
}

.video video {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 20px;
}

.social a{
    color: var(--primary-color);
    margin-left: 20px;
    font-size: 30px;
    
}
    /* ABOUT */

    .about-image {
        display: flex;
       width: 5%;
       height: 5%;

    }
.footer {
    background-color: var(--secondary-color);
    min-height: 150px;
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    padding: 30px;

}

span {
    color: var(--white)
}
    